*
{
	padding: 0;
	margin: 0;
}

body 
{
	font: normal 100%/1.3em sans-serif; 
	margin: 10px; 
	color: #333; 
	background-color: #fff;
	background-image: url("bg.jpg");
	background-size: 90%;
}

.peach {
	float: right;
	padding-right: 30px;
	padding-top: 190px;
}

.peach img {
	width: 90%;
}

div#moveme
{
	width: 6em;
	height: 6em;
	font-weight: bold;
	line-height: 4em;
	/*text-align: center;*/
	margin: 5px;
	/*color: #fff;*/
	/*background-color: #00c;*/
	overflow: visible;
	/*border-radius: 5px;*/
	/*cursor: default;*/
}

div#moveprincess
{
	width: 6em;
	height: 6em;
	font-weight: bold;
	line-height: 4em;
	/*text-align: center;*/
	margin: 5px;
	/*color: #fff;*/
	/*background-color: #00c;*/
	overflow: visible;
	/*border-radius: 5px;*/
	/*cursor: default;*/
}

h1
{
	font-size: 1.6em;
	margin-bottom: 4px;
}

ul
{
	list-style-type: disc;
	margin: 1em 3em;
}

li
{
	margin: 0.8em 0;
}

a
{
	text-decoration: none;
	color: #00c;
	margin: 0;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
        background-color:red;
    }  
  13% {
        -webkit-transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
  }
  25% {
      -webkit-transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
  }
  38% {
      -webkit-transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
  }
  50% {
      -webkit-transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
  }
  63% {
      -webkit-transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
  }
  75% {
      -webkit-transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
  }
  88% {
      -webkit-transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
  }
    100% {
        -webkit-transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
    }
}
#circle {
    height: 70px;
    width: 70px;
    border-radius:900px;
    background-image: url("fireball.gif");
    -webkit-animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name:"rotate";
    -webkit-animation-iteration-count: infinite;
    position:absolute;
    left:40%;
    top:10%; 
}
svg:hover > #rivets, svg:hover > #question {
		  fill:#FFC07C;
    }
		svg:hover > #borderlefttop {
		  stroke:#FFC07C;
    }
		svg:active > #rivets,svg:active > #borderlefttop {
		  fill:#000;stroke:#000;}
		svg:hover > #background,svg:active > #question,svg:active > #questionshadow {
		  fill:#DE5917;}
		svg:hover {
		  animation:jump .2s;}
		@keyframes jump {
		  50%{transform:translatey(-10px);}
      to {transform:translatey(0);}
